<div class="footer">
  <div class="footer-links">
    <%#= link_to "https://www.facebook.com/latorreta.ibiza.3", target: "_blank", rel: "nofollow" do %>
      <!-- <i class="fab fa-facebook"></i></a> -->
    <%# end %>
    <%= link_to "https://www.instagram.com/latorretaibiza/", target: "_blank", rel: "nofollow" do %>
      <i class="fab fa-instagram"></i></a>
    <% end %>
    <h3>
      <%= link_to t('english'), { locale: 'en' } %>
    </h3>
    <h3>
      <%= link_to t('spanish'), { locale: 'es' } %>
    </h3>
  </div>
  <div class="footer-copyright">
    <%= t('made_with_love') %> <i class="fas fa-heart"></i> <%= t('at') %> <%= link_to "Digital Grafic Ibiza", "http://digitalgraficibiza.com/home/", target: "_blank", rel: "nofollow" %>
  </div>
</div>
