<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <%= link_to t('location.title'), location_path %>
    <%= link_to t('food_and_wines.title'), food_and_wines_path %>
    <%= link_to t('about_us.title'), about_us_path %>
    <%= link_to t('menu.title'), menu_path %>
    <%= link_to t('contact.title'), reserve_path %>
  </div>
</div>

<script>
function openNav() {
  document.getElementById("myNav").style.height = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.height = "0%";
}
</script>
