<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do  %>
    <%= cl_image_tag "la-torreta-ibiza/brand-torreta.webp", alt: "la-torreta-brand" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Ubicación", location_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Food and Wines", food_and_wines_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "About Us", about_us_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Menu", menu_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to "Ubicación", location_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
          <%= link_to "Food and Wines", food_and_wines_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
          <%= link_to "About Us", about_us_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
          <%= link_to "Menu", menu_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
