<% content_for(:title) do %><%= t('about_us.title') %><% end %>
<% content_for(:description) do %><%= t('about_us.description') %><% end %>
<% content_for(:og_image) do %><%= cl_image_path('la-torreta-ibiza/location/basment-4.webp') %><% end %>
<div class="bannerAboutUs">
  <div class="banner-content">
    <h1><%= t('about_us.title') %></h1>
  </div>
</div>

<div class="wrapper">
  <div class="container section" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12">
        <div style="position: relative;">
          <%= cl_image_tag('la-torreta-ibiza/food/fried-shrimp.webp', style: "width: 100%;") %>
          <div class="center-block text-center textCardLeft">
            <h1><strong><%= t('about_us.atmosphere') %></strong></h1>
            <p><%= t('about_us.description_part_1') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12">
        <div style="position: relative;">
          <%= cl_image_tag('la-torreta-ibiza/location/closup-table-3.webp', style: "width: 100%; margin-bottom: 50px;") %>
          <div class="center-block text-center textCardRight">
            <h1><strong>Dalt Vila</strong></h1>
            <p><%= t('about_us.description_part_2') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
