<% content_for(:title) do %><%= t('food_and_wines.title') %><% end %>
<% content_for(:description) do %><%= t('food_and_wines.description') %><% end %>
<% content_for(:og_image) do %><%= cl_image_path('la-torreta-ibiza/food/champaign.webp') %><% end %>
<div class="bannerFoodAndWines">
  <div class="banner-content">
    <h1><%= t('food_and_wines.title') %></h1>
  </div>
</div>

<div class="wrapper">
  <div class="container section">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h1><strong><%= t('food_and_wines.description_part_1') %></strong></h1>
          <%= cl_image_tag('la-torreta-ibiza/food/quinoa-tower-1.webp', :width=>1500, :height=>800, :gravity=>"south", :crop=>"fill", class: "img-fluid", style: "max-width: 100%; height: auto;") %>
        </div>
      </div>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div style="position: relative;">
          <%= cl_image_tag('la-torreta-ibiza/food/fried-shrimp.webp', style: "width: 100%;") %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center" style="position: relative; margin-top: 100px;">
          <h1><strong><%= t('food_and_wines.description_part_2') %></strong></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center">
          <h1><strong><%= t('food_and_wines.description_part_3') %></strong></h1>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= cl_image_tag('la-torreta-ibiza/food/sliced-meat-wine.webp', class: "img-fluid", style: "max-width: 100%; height: auto;") %>
      </div>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h1><strong><%= t('food_and_wines.experience') %></strong></h1>
          <%= cl_image_tag('la-torreta-ibiza/food/set-table.webp', :width=>1500, :height=>800, :gravity=>"south", :crop=>"fill", class: "img-fluid", style: "max-width: 100%; height: auto; margin-bottom: 50px;") %>
        </div>
      </div>
    </div>
  </div>
</div>
