<% content_for(:title) do %>
  Comer y beber
<% end %>
<% content_for(:description) do %>
  Inspirados por una fusión de sabores del Mediterráneo y especias de Asia, junto con una exhaustiva lista de los mejores vinos españoles, la pasión de La Torreta por la comida y el amor por la hospitalidad les ha ganado una fidelidad de seguidores.
<% end %>
<% content_for(:og_image) do %>
  <%= cl_image_path('la-torreta-ibiza/food/champaign.webp') %>
<% end %>
<div class="bannerFoodAndWines">
  <div class="banner-content">
    <h1>Comer y beber</h1>
  </div>
</div>

<div class="wrapper">
  <div class="container section">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h1><strong>Inspirados por una fusión de sabores del Mediterráneo y especias de Asia...</strong></h1>
          <%= cl_image_tag('la-torreta-ibiza/food/quinoa-tower-1.webp', :width=>1500, :height=>800, :gravity=>"south", :crop=>"fill", class: "img-fluid", style: "max-width: 100%; height: auto;") %>
        </div>
      </div>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div style="position: relative;">
          <%= cl_image_tag('la-torreta-ibiza/food/fried-shrimp.webp', style: "width: 100%;") %>
          <%= image_tag "https://media.giphy.com/media/159u2Wj3PBRUQ/giphy.gif", alt: "giph", style: "position: absolute; bottom: 0px; left: 418px; opacity: 0.37; z-index: -1;" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center" style="position: relative; margin-top: 100px;">
          <h1><strong>...junto con una exhaustiva lista de los mejores vinos españoles...</strong></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center">
          <h1><strong>...la pasión de La Torreta por la comida y el amor por la hospitalidad les ha ganado una fidelidad de seguidores.</strong></h1>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= cl_image_tag('la-torreta-ibiza/food/sliced-meat-wine.webp', class: "img-fluid", style: "max-width: 100%; height: auto;") %>
      </div>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h1><strong>Experimentar</strong></h1>
          <%= cl_image_tag('la-torreta-ibiza/food/set-table.webp', :width=>1500, :height=>800, :gravity=>"south", :crop=>"fill", class: "img-fluid", style: "max-width: 100%; height: auto; margin-bottom: 50px;") %>
        </div>
      </div>
    </div>
  </div>
</div>
