<% content_for(:title) do %><%= t('location.title') %><% end %>
<% content_for(:description) do %><%= t('location.description') %><% end %>
<% content_for(:og_image) do %><%= cl_image_path('location/basement-2.png') %><% end %>
<div class="banner bannerLocation">
  <div class="banner-content">
    <h1><%= t('location.title') %></h1>
  </div>
</div>

<div class="wrapper">
  <div class="container section">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h1><strong><%= t('location.description_part_1') %></strong></h1>
          <%= cl_image_tag('location/outside-4.jpg', class: "img-fluid pageImage") %>
        </div>
      </div>
    </div>
  </div>
  <div class="banner bannerSection" style="background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/la-torreta-ibiza/image/upload/c_scale,q_50,w_1500/v1559210961/location/inside-1.jpg');">
    <div class="banner-content">
      <h1><%= t('location.romance') %></h1>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div style="position: relative;">
          <%= cl_image_tag('location/closup-table-2.png', class: "img-fluid pageImage") %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center">
          <h2><strong><%= t('location.description_part_2') %></strong></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="banner bannerSection" style="background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/la-torreta-ibiza/image/upload/c_scale,q_50,w_1500/v1559210955/location/basement-4.jpg');">
    <div class="banner-content">
      <h1><%= t('location.experience') %></h1>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center">
          <h2><strong><%= t('location.description_part_3') %></strong></h2>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= cl_image_tag('location/inside-1.jpg', class: "img-fluid pageImage") %>
      </div>
    </div>
  </div>
  <div class="banner bannerSection" style="background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/la-torreta-ibiza/image/upload/c_scale,q_50,w_1500/v1559210954/location/basement-1.jpg');">
    <div class="banner-content">
      <h1><%= t('location.night_to_remember') %></h1>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <div class="text-center emailTorreta" style="padding: 20px;">
            <h1>La Torreta Ibiza</h1>
            <p>Plaça Dalt Vila, 10, 07800 <strong>Eivissa</strong></p>
            <p><i class="fas fa-phone"></i> <span ><%= tel_to('+34 971 300 411') %></span> </p>
            <p><%= mail_to("info@latorretaibiza.com", "info@latorretaibiza.com") %></p>
            <%= link_to t('contact.reserve'), reserve_path, class: "reserveLink" %>
          </div>
          <%= cl_image_tag('location/outside-2.jpg', class: "img-fluid pageImage") %>
          <h2><strong><%= t('location.description_part_4') %></strong></h2>
          <h3><strong><%= t('location.marius') %></strong></h3>
        </div>
      </div>
    </div>
  </div>
</div>
