<% content_for(:title) do %><%= t('location.title') %><% end %>
<% content_for(:description) do %><%= t('location.description') %><% end %>
<% content_for(:og_image) do %><%= cl_image_path('la-torreta-ibiza/location/basement-2.webp') %><% end %>
<div class="banner bannerLocation">
  <div class="banner-content">
    <h1><%= t('location.title') %></h1>
  </div>
</div>

<div class="wrapper">
  <div class="container section">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h1><strong><%= t('location.description_part_1') %></strong></h1>
          <%= cl_image_tag('la-torreta-ibiza/location/outside-4.webp', :width=>1500, :height=>800, :gravity=>"south", :crop=>"fill", class: "img-fluid", style: "max-width: 100%; height: auto;") %>
        </div>
      </div>
    </div>
  </div>
  <div class="banner bannerSection" style="background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/dsc0y1kmt/image/upload/c_scale,q_40,w_2000/v1552393420/la-torreta-ibiza/location/inside-1.webp');">
    <div class="banner-content">
      <h1><%= t('location.romance') %></h1>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div style="position: relative;">
          <%= cl_image_tag('la-torreta-ibiza/location/closup-table-2.webp', style: "width: 100%;") %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center">
          <h2><strong><%= t('location.description_part_2') %></strong></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="banner bannerSection" style="background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/dsc0y1kmt/image/upload/c_scale,q_40,w_2000/v1552393420/la-torreta-ibiza/location/basement-4.webp');">
    <div class="banner-content">
      <h1><%= t('location.experience') %></h1>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center">
          <h2><strong><%= t('location.description_part_3') %></strong></h2>X
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= cl_image_tag('la-torreta-ibiza/location/inside-1.webp', style: "width: 100%;") %>
      </div>
    </div>
  </div>
  <div class="banner bannerSection" style="background-image: linear-gradient(-225deg, rgba(224, 230, 234, 0.6) 0%, rgba(0, 53, 90, 0.19) 50%), url('https://res.cloudinary.com/dsc0y1kmt/image/upload/c_scale,q_40,w_2000/v1552393420/la-torreta-ibiza/location/basement-1.webp');">
    <div class="banner-content">
      <h1><%= t('location.night_to_remember') %></h1>
    </div>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <div class="text-center" style="padding: 20px;">
            <h1>La Torreta Ibiza</h1>
            <p>Plaça Dalt Vila, 10, 07800 <strong>Eivissa</strong></p>
            <p><i class="fas fa-phone"></i> +34 971 300 411</p>
            <p><%= mail_to("info@latorretaibiza.com", "info@latorretaibiza.com", class: "emailTorreta") %></p>
          </div>
          <%= cl_image_tag('la-torreta-ibiza/location/outside-2.webp', :width=>1500, :height=>800, :gravity=>"south", :crop=>"fill", class: "img-fluid", style: "max-width: 100%; height: auto; margin-bottom: 0px;") %>
          <h2><strong><%= t('location.description_part_4') %></strong></h2>
          <h3><strong><%= t('location.marius') %></strong></h3>
        </div>
      </div>
    </div>
  </div>
</div>
