<% content_for(:title) do %>
  <%= t('menu.title') %>
<% end %>
<% content_for(:description) do %>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestiae ratione dignissimos, cum rerum adipisci error, quaerat ab voluptas culpa ad nobis, modi consequatur nihil officiis cupiditate saepe tenetur! Voluptatibus!
<% end %>
<% content_for(:og_image) do %>
  <%= cl_image_path('la-torreta-ibiza/food/fried-shrimp.webp') %>
<% end %>
<div class="banner bannerMenu">
  <div class="banner-content">
    <h1><%= t('menu.title') %></h1>
  </div>
</div>

<div class="wrapper">
  <div class="container section">
    <div class="text-center">
      <%= cl_image_tag("la-torreta-ibiza/sugerencias_#{I18n.locale}.webp", style: 'width: 65%') %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center menuCard" style="margin-bottom: 50px;">
          <ul class="menuList">
            <li>
              <h3><span><%= t('menu.starters') %></span></h3>
              <p><span><%= t('menu.starters_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>16,50</span></p>
              <p><span><%= t('menu.starters_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>17,00</span></p>
              <p><span><%= t('menu.starters_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>17,00</span></p>
              <p><span><%= t('menu.starters_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>17,00</span></p>
              <p><span><%= t('menu.starters_item_5') %></span>&nbsp;&nbsp;&nbsp;<span>22,00</span></p>
              <p><span><%= t('menu.starters_item_6') %></span>&nbsp;&nbsp;&nbsp;<span>23,50</span></p>
              <p><span><%= t('menu.starters_item_7') %></span>&nbsp;&nbsp;&nbsp;<span>24,00</span></p>
            </li>
            <li>
              <h3><span><%= t('menu.main_courses') %></span></h3>
              <p><span><%= t('menu.main_courses_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>26,00</span></p>
              <p><span><%= t('menu.main_courses_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>23,50</span></p>
              <p><span><%= t('menu.main_courses_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>26,50</span></p>
              <p><span><%= t('menu.main_courses_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>26,00</span></p>
              <p><span><%= t('menu.main_courses_item_5') %></span>&nbsp;&nbsp;&nbsp;<span>26,90</span></p>
              <p><span><%= t('menu.main_courses_item_6') %></span>&nbsp;&nbsp;&nbsp;<span>37,00</span></p>
            </li>
          </ul>
        </div>
        <div class="center-block text-center menuCard">
          <ul class="menuList footNotes">
            <li>
              <%= t('menu.supplements') %>
            </li>
            <li>
              <%= t('menu.tax_html') %>
            </li>
          </ul>
        </div>
        <div class="center-block text-center menuCard">
          <ul class="menuList footNotes">
            <li>
              <%= link_to cl_image_path('https://res.cloudinary.com/dsc0y1kmt/image/upload/v1557231865/la-torreta-ibiza/wine_menu.pdf'), target: :_blank do %>
                <h1><%= t('menu.wine_menu') %></h1>
              <% end %>
            </li>
            <li>
              <%= link_to cl_image_path('https://res.cloudinary.com/dsc0y1kmt/image/upload/v1557231865/la-torreta-ibiza/desert_menu.pdf'), target: :_blank do %>
                <h1><%= t('menu.dessert_menu') %></h1>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center menuCard" style="margin-bottom: 50px;">
          <ul class="menuList">
            <li>
              <h3><span><%= t('menu.our_starters') %></span></h3>
              <p><span><%= t('menu.our_starters_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>13,00</span></p>
              <p><span><%= t('menu.our_starters_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>15,00</span></p>
              <p><span><%= t('menu.our_starters_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>15,50</span></p>
              <p><span><%= t('menu.our_starters_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>18,00</span></p>
              <p><span><%= t('menu.our_starters_item_5') %></span>&nbsp;&nbsp;&nbsp;<span>18,00</span></p>
              <p><span><%= t('menu.our_starters_item_6') %></span>&nbsp;&nbsp;&nbsp;<span>19,50</span></p>
              <p><span><%= t('menu.our_starters_item_7') %></span>&nbsp;&nbsp;&nbsp;<span>14,50</span></p>
              <p><span><%= t('menu.our_starters_item_8') %></span>&nbsp;&nbsp;&nbsp;<span>14,50</span></p>
              <p><span><%= t('menu.our_starters_item_9') %></span>&nbsp;&nbsp;&nbsp;<span>17,00</span></p>
              <p><span><%= t('menu.our_starters_item_10') %></span>&nbsp;&nbsp;&nbsp;<span>28,00</span></p>
            </li>
            <li>
              <h3><span><%= t('menu.fish') %></span></h3>
              <p><span><%= t('menu.fish_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>20,00</span></p>
              <p><span><%= t('menu.fish_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>22,00</span></p>
              <p><span><%= t('menu.fish_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>23,50</span></p>
              <p><span><%= t('menu.fish_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>29,00</span></p>
            </li>
            <li>
              <h3><span><%= t('menu.meat') %></span></h3>
              <p><span><%= t('menu.meat_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>20,00</span></p>
              <p><span><%= t('menu.meat_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>21,50</span></p>
              <p><span><%= t('menu.meat_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>24,00</span></p>
              <p><span><%= t('menu.meat_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>29,50</span></p>
            </li>
            <li>
              <h3><span><%= t('menu.pastas_and_wok') %></span></h3>
              <p><span><%= t('menu.pastas_and_wok_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>16,50</span></p>
              <p><span><%= t('menu.pastas_and_wok_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>17,50</span></p>
              <p><span><%= t('menu.pastas_and_wok_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>23,50</span></p>
              <p><span><%= t('menu.pastas_and_wok_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>19,00</span></p>
              <p><span><%= t('menu.pastas_and_wok_item_5') %></span>&nbsp;&nbsp;&nbsp;<span>22,50</span></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
