<% content_for(:title) do %>
  <%= t('menu.title') %>
<% end %>
<% content_for(:description) do %>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestiae ratione dignissimos, cum rerum adipisci error, quaerat ab voluptas culpa ad nobis, modi consequatur nihil officiis cupiditate saepe tenetur! Voluptatibus!
<% end %>
<% content_for(:og_image) do %>
  <%= cl_image_path('food/fried-shrimp.png') %>
<% end %>
<div class="banner bannerMenu">
  <div class="banner-content">
    <h1><%= t('menu.title') %></h1>
  </div>
</div>

<div class="wrapper">
  <div class="container section">
    <div class="text-center">
      <%= cl_image_tag("sugerencias_#{I18n.locale}.png", style: 'width: 65%') %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center menuCard" style="margin-bottom: 50px;">
          <ul class="menuList">
            <li>
              <h3><span><%= t('menu.snacks') %></span></h3>
              <p><span><%= t('menu.snacks_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>14</span></p>
              <p><span><%= t('menu.snacks_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>12</span></p>
              <p><span><%= t('menu.snacks_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>14</span></p>
              <p><span><%= t('menu.snacks_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>14</span></p>
            </li>
            <li>
              <h3><span><%= t('menu.to_share') %></span></h3>
              <p><span><%= t('menu.to_share_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>29</span></p>
              <p><span><%= t('menu.to_share_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>22</span></p>
              <p><span><%= t('menu.to_share_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>15</span></p>
              <p><span><%= t('menu.to_share_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>29</span></p>
            </li>
            <li>
              <h3><span><%= t('menu.starters') %></span></h3>
              <p><span><%= t('menu.starters_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>19</span></p>
              <p><span><%= t('menu.starters_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>23</span></p>
              <p><span><%= t('menu.starters_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>17</span></p>
              <p><span><%= t('menu.starters_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>14</span></p>
              <p><span><%= t('menu.starters_item_5') %></span>&nbsp;&nbsp;&nbsp;<span>16</span></p>
              <p><span><%= t('menu.starters_item_6') %></span>&nbsp;&nbsp;&nbsp;<span>28</span></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center menuCard" style="margin-bottom: 50px;">
          <ul class="menuList">
            <li>
              <h3><span><%= t('menu.pastas') %></span></h3>
              <p><span><%= t('menu.pastas_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>24</span></p>
              <p><span><%= t('menu.pastas_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>24</span></p>
              <p><span><%= t('menu.pastas_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>20</span></p>
              <p><span><%= t('menu.pastas_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>25</span></p>
              <p><span><%= t('menu.pastas_item_5') %></span>&nbsp;&nbsp;&nbsp;<span>22</span></p>
              <p><span><%= t('menu.pastas_item_6') %></span>&nbsp;&nbsp;&nbsp;<span>50</span></p>
            </li>
            <li>
              <h3><span><%= t('menu.fish') %></span></h3>
              <p><span><%= t('menu.fish_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>29</span></p>
              <p><span><%= t('menu.fish_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>27</span></p>
              <p><span><%= t('menu.fish_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>26</span></p>
              <p><span><%= t('menu.fish_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>25</span></p>
            </li>
            <li>
              <h3><span><%= t('menu.meat') %></span></h3>
              <p><span><%= t('menu.meat_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>29</span></p>
              <p><span><%= t('menu.meat_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>30</span></p>
              <p><span><%= t('menu.meat_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>32</span></p>
              <p><span><%= t('menu.meat_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>27</span></p>
              <p><span><%= t('menu.meat_item_5') %></span>&nbsp;&nbsp;&nbsp;<span>26</span></p>
            </li>
            <li style="border: black;border-style: solid;">
              <h3><span><%= t('menu.kids') %></span></h3>
              <p><span><%= t('menu.kids_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>12</span></p>
              <p><span><%= t('menu.kids_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>15</span></p>
            </li>
            <li style="padding-top: 20px;">
              <p><span><%= t('menu.supplements_1') %></span>&nbsp;&nbsp;&nbsp;<span>2,5 pax</span></p>
              <p><span><%= t('menu.supplements_2') %></span>&nbsp;&nbsp;&nbsp;<span>3,5</span></p>
            </li>
          </ul>
        <div class="center-block text-center menuCard">
          <ul class="menuList footNotes">
            <li>
              <%= link_to cl_image_path('https://res.cloudinary.com/la-torreta-ibiza/image/upload/v1559210563/wine_menu.pdf'), target: :_blank do %>
                <h1><%= t('menu.wine_menu') %></h1>
              <% end %>
            </li>
            <li>
              <%= link_to cl_image_path('https://res.cloudinary.com/la-torreta-ibiza/image/upload/v1559210563/cocktail_menu.pdf'), target: :_blank do %>
                <h1><%= t('menu.cocktail_menu') %></h1>
              <% end %>
            </li>
            <li>
              <%= link_to cl_image_path('https://res.cloudinary.com/la-torreta-ibiza/image/upload/v1559210563/desert_menu.pdf'), target: :_blank do %>
                <h1><%= t('menu.dessert_menu') %></h1>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="center-block text-center menuCard">
          <ul class="menuList footNotes">
            <li>
              <%= t('menu.tax_html') %>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
