<% content_for(:title) do %>
  <%= t('menu.title') %>
<% end %>
<% content_for(:description) do %>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestiae ratione dignissimos, cum rerum adipisci error, quaerat ab voluptas culpa ad nobis, modi consequatur nihil officiis cupiditate saepe tenetur! Voluptatibus!
<% end %>
<% content_for(:og_image) do %>
  <%= cl_image_path('food/fried-shrimp.png') %>
<% end %>
<div class="banner bannerMenu">
  <div class="banner-content">
    <h1><%= t('menu.title') %></h1>
  </div>
</div>

<div class="wrapper">
  <div class="container section">
    <div class="text-center">
      <%= cl_image_tag("sugerencias_#{I18n.locale}.png", style: 'width: 65%') %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center menuCard" style="margin-bottom: 50px;">
          <ul class="menuList">
            <li>
              <h3><span><%= t('menu.appetizers') %></span></h3>
              <p><span><%= t('menu.appetizers_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>30</span></p>
              <p><span><%= t('menu.appetizers_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>19</span></p>
              <p><span><%= t('menu.appetizers_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>19</span></p>
              <p><span><%= t('menu.appetizers_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>22</span></p>
              <p><span><%= t('menu.appetizers_item_5') %></span>&nbsp;&nbsp;&nbsp;<span>13</span></p>
              <p><span><%= t('menu.appetizers_item_6') %></span>&nbsp;&nbsp;&nbsp;<span>4</span></p>
            </li>
            <li>
              <h3><span><%= t('menu.starters') %></span></h3>
              <p><span><%= t('menu.starters_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>12</span></p>
              <p><span><%= t('menu.starters_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>16,5</span></p>
              <p><span><%= t('menu.starters_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>15</span></p>
              <p><span><%= t('menu.starters_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>19</span></p>
              <p><span><%= t('menu.starters_item_5') %></span>&nbsp;&nbsp;&nbsp;<span>22</span></p>
              <p><span><%= t('menu.starters_item_6') %></span>&nbsp;&nbsp;&nbsp;<span>29</span></p>
              <p><span><%= t('menu.starters_item_7') %></span>&nbsp;&nbsp;&nbsp;<span>24</span></p>
            </li>
            <li>
              <h3><span><%= t('menu.pastas') %></span></h3>
              <p><span><%= t('menu.pastas_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>23</span></p>
              <p><span><%= t('menu.pastas_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>20</span></p>
              <p><span><%= t('menu.pastas_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>22</span></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="center-block text-center menuCard" style="margin-bottom: 50px;">
          <ul class="menuList">
            <li>
              <h3><span><%= t('menu.from_the_sea') %></span></h3>
              <p><span><%= t('menu.from_the_sea_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>26</span></p>
              <p><span><%= t('menu.from_the_sea_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>24</span></p>
              <p><span><%= t('menu.from_the_sea_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>24,5</span></p>
              <p><span><%= t('menu.from_the_sea_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>23,5</span></p>
            </li>
            <li>
              <h3><span><%= t('menu.from_the_countryside') %></span></h3>
              <p><span><%= t('menu.from_the_countryside_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>33</span></p>
              <p><span><%= t('menu.from_the_countryside_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>45</span></p>
              <p><span><%= t('menu.from_the_countryside_item_3') %></span>&nbsp;&nbsp;&nbsp;<span>29</span></p>
              <p><span><%= t('menu.from_the_countryside_item_4') %></span>&nbsp;&nbsp;&nbsp;<span>24</span></p>
              <p><span><%= t('menu.from_the_countryside_item_5') %></span>&nbsp;&nbsp;&nbsp;<span>28</span></p>
              <p><span><%= t('menu.from_the_countryside_item_6') %></span>&nbsp;&nbsp;&nbsp;<span>28</span></p>
            </li>
            <li>
              <h3><span><%= t('menu.kids') %></span></h3>
              <p><span><%= t('menu.kids_item_1') %></span>&nbsp;&nbsp;&nbsp;<span>12</span></p>
              <p><span><%= t('menu.kids_item_2') %></span>&nbsp;&nbsp;&nbsp;<span>14</span></p>
            </li>
          </ul>
        <div class="center-block text-center menuCard">
          <ul class="menuList footNotes">
            <li>
              <%= link_to cl_image_path('https://res.cloudinary.com/la-torreta-ibiza/image/upload/v1559210563/wine_menu.pdf'), target: :_blank do %>
                <h1><%= t('menu.wine_menu') %></h1>
              <% end %>
            </li>
            <li>
              <%= link_to cl_image_path('https://res.cloudinary.com/la-torreta-ibiza/image/upload/v1559210563/desert_menu.pdf'), target: :_blank do %>
                <h1><%= t('menu.dessert_menu') %></h1>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="center-block text-center menuCard">
          <ul class="menuList footNotes">
            <li>
              <%= t('menu.tax_html') %>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
