<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : "La Torreta Ibiza" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'At La Torreta Ibiza we aspire to create the best dining experience in a dazzling and charming environment. Located in the most beautiful part of the old town of Ibiza, Dalt Vila, our chef presents a tasty mix of Mediterranean / Asian fusion. Years of experience, our friendly and professional service makes our clients come back year after year. Now we wait for you ...' %>">
    <meta name="og_image" content="<%= content_for?(:og_image) ? yield(:og_image) : cl_image_path('la-torreta-ibiza/banner.webp') %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'la-torreta-ibiza_brand-torreta.png' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <main class="wrapper">
      <% if current_page?(root_path(locale: 'en')) || current_page?(root_path(locale: 'es')) || current_page?(root_path) %>
        <%= render 'shared/fullscreennav' %>
      <% else %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%= yield %>
      <% if !(current_page?(root_path(locale: 'en')) || current_page?(root_path(locale: 'es')) || current_page?(root_path)) %>
        <%= render 'shared/footer' %>
      <% end %>
    </main>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
